.input-box {
    @apply
    flex
    flex-col
    items-start
    gap-2
    mb-6
}
.input-title {
    @apply
    font-ui-input-title
    text-ui-input-title

    text-palette-dark-80
}
.input-message {
    @apply
    pt-[8px]
    font-normal
    text-[14px]
    leading-[14px]

    text-ui-input-text-message-default
}
.input-message-error {
    @apply
    text-ui-input-text-message-error
}
.input-steady {
    @apply
    select-none
    no-underline
    border-none

    flex 
    flex-row
    justify-between 
    items-center
    w-96
    pb-[12px]
    pt-[22px]
    pr-[12px]
    pl-[18px]

    tracking-ui-button-normal
    rounded-ui-input-normal

    font-ui-input
    font-medium
    text-[16px]
    leading-[16px]

    cursor-text
    placeholder-ui-input-text-placeholder
    bg-ui-input-main-default
    text-ui-input-text-default

    hover:bg-ui-input-main-hover
    focus-visible:bg-ui-input-main-focus
    disabled:bg-ui-input-main-disabled
    disabled:text-ui-input-text-disabled

    disabled:cursor-not-allowed
    active:duration-75
    active:delay-0
    
    transition-all
    ease-in-out
    duration-300
}
.input-error {
    @apply
    outline-ui-input-normal
    outline-offset-ui-input-normal
}
.input-fill {
    @apply
    w-full
}

.input-focused {
    @apply
    outline-[1px]
    outline-palette-brand-100
}

.label {
    @apply
    absolute
    text-[16px]
    top-[14px]
    left-[18px]

    text-palette-dark-80

    transition-all
    ease-in-out
    duration-150
}

.label-focus {
    @apply
    absolute
    text-[12px]
    top-[6px]
    left-[18px]

    text-palette-dark-64

    transition-all
    ease-in-out
    duration-150
}

.container {
    @apply
    relative
    flex
    flex-col
}